.connector{
  position: relative;
  overflow: hidden;
}
.is-style-subheadline{
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-transform: uppercase;
}
.type-bewertung{
  text-align: center;
  .post-stars{
    color: $w-color-primary;
  }
}
.ghostkit-button{
  border: none !important;
  &.is-style-inset-border{
    box-shadow: inset 0px 0px 0px var(--gkt-button__border-width) var(--gkt-button__border-color);
  }
  @media(max-width: $w-breakpoint-medium){
    display: inline-block;
    width: inherit;
  }
}
.header-phone{
  margin-left: 2vw;
  padding-left: 2vw;
  border-left: 2px solid #EBEBEB;
  svg{
    margin-right: 8px;
  }
}
#header{
  nav{
    ul{
      li{
        a{
          color: $w-color-dark;
        }
      }
    }
  }
}
.footer{
  padding: 30px 0;
}

.steps{
  position: relative;
  .ghostkit-icon-box{
    position: relative;
    .ghostkit-icon-box-content{
      padding-left: 30px;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      height: 3px;
      width: 50px;
      background: $w-color-primary;
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);
    }
  }
  &::after{
    content: '';
    display: block;
    height: 100%;
    width: 3px;
    background: $w-color-primary;
    position: absolute;
    top: 0;
    left: calc(50% - 1.5px)
  }
}
.frm_forms{
  fieldset{
    border: 0;
    padding: 0;
    .form-field{
      margin-bottom: 3%;
      label{
        display: none !important;
      }
      input,
      textarea{
        border: 2px solid #F1F1F3;
        border-radius: 3px;
        padding: 15px 25px;
        resize: none;
      }
      textarea{
        height: 170px;
      }
    }
    .frm_button_submit{
      padding: 1.125em 1.85em;
      display: inline-block;
      background-color: $w-color-primary;
      color: #fff;
      font-weight: $w-def-font-weight;
      font-size: 0.875em;
      font-family: $w-def-font-family;
    }
  }
}

.ghostkit-carousel-arrow, .slider-arrow{
  border-radius: 5px !important;
  background: $w-color-primary !important;
  svg{
    path{
      fill: #fff !important;
    }
  }
}

//Type-Team
.type-team{
  .post-inner{
    box-shadow: none !important;
    text-align: center;
    &:hover{
      img{
        transform: none !important;
      }
    }
    .custom-btn{
      background: #fff;
      color: $w-color-primary;
      &:hover{
        background-color: $w-color-primary;
        color: #fff;
      }
    }
  }
}